{% extends 'base.html.twig' %}

{% block body %}
    <p>Your Cart:</p>
    <ul>
        {% for item in items %}
        <li>{{ item.name }} {{ item.price }} zł</li>
        {% endfor %}
    </ul>
    <p>Total: {{ total }} zł</p>
{% endblock %}
