{% extends 'base.html.twig' %}

{% block body %}
    {% if oldTotal < newTotal %}
        Operator changed cart total :)<br />
        Old price:
        {{ oldTotal }} zł<br />
        New price!
        {{ newTotal }} zł<br />
    {% else %}
        Price is: {{ newTotal }} zł
    {% endif %}
{% endblock %}
